@import '../utils/_variables.scss';
.App {
  text-align: center;
  background-color: $color-1;
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  width: 50vw;
  background-color: $color-3;
  margin: 0 auto;
  color: $color-4;
  font-weight: 800;
  @media only screen and (max-width:$md-max) {
    width: 75vw;
  }
  &.long {
    height: 100%;
  }
  h1 {
    font-weight: 400;
    letter-spacing: 0.3rem;
    margin: 0;
  }
  a {
    color: $color-1;
    text-decoration: none;
    height: 0;
  }
}
.grid {
  display: grid;
}