@import '../utils/_variables.scss';

.App {
  text-align: center;
  background-color: $color-1;
  height: 100%;
  width: 100%;
}

.main {
  display: grid;
  height: 100vh;
  width: 50vw;
  background-color: $color-5;
  margin: 0 auto;
  color: $color-4;
}