@import '../utils/_variables.scss';

.garden-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  width: 75vw;
  height: 100%;
  padding: 1rem;
  min-height: 100vh;
  @media only screen and (max-width:$md-max) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
   // gap: 0.6rem;
  }
}
.garden-card {
  .flex-card {
    display: flex;
    height: 3rem;
  }
  @media only screen and (max-width:$md-max) {
    width: 90%;
    height: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.2rem;
    margin: 0 auto;
    .flex-card {
      height: 50%;
    }
    a {
      font-weight: 600;
    } 
    h4 {
      font-weight: 500;
    }
    p {
      font-weight: 200;
    }
  }
  
  width: 100%;
  background-color: $color-4;
  color: $color-1;
  padding: 2rem 0;
  transition: 0.4s;
  border-radius: 0.1rem;
  height: 6rem;
  div {
    margin: 0 auto;
    height: 3rem;
    .garden-input {
      background-color: $color-3;
      color: $color-4;
      border: none;
      border-radius: 0.1rem;
      line-height: 1.25rem;
      font-weight: 600;
      width: 2rem;
    }
    a {
      margin: 0 auto;
      line-height: 3rem;
      @media only screen and (max-width:$md-max) {
        line-height: 1.5rem;
      }
    }
  }
  button {
    margin: 0 auto;
    height: 3rem;
    line-height: 3rem;
    background-color: $color-1;
    color: $color-4;
    font-weight: 800;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
    border-radius: 0.2rem;
    text-align: center;
    @media only screen and (max-width:$md-max) {
      padding: 0 0.4rem;
      height: 2rem;
      line-height: 2rem;
    }
  }
  &:hover {
    background-color: $color-5;
    color: $color-4;
    a {
      color: $color-4;
    }
  }
  h4, p {
    margin: 0;
  }
  h4 {
    letter-spacing: 0.1rem;
  }
  p {
    font-weight: 400;
  }
}