@import '../utils/_variables.scss';

.plants {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  padding: 1rem;
  @media only screen and (max-width:$md-max) {
    grid-template-columns: repeat(2, auto);
  }
  li {
    margin-bottom: 0.2rem;
    .card {
      background-color: $color-4;
      padding: 1rem 0;
      height: 2.6rem;
      transition: 0.4s;
      border-radius: 0.1rem;
      &:hover {
        background-color: $color-5;
      }
      h4 {
        margin: 0;
      }
    }
  }
}