@import '../utils/_variables.scss';
.plant-grid {
  position: relative;
}
.garden-button {
  background-color: $color-1;
  color: $color-4;
  padding: 0.4rem;
  border-radius: 0.1rem;
  border: 1px solid $color-1;
  margin: 0.5rem;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
  &:hover, :active {
    border: 1px solid $color-4;
    border-style: inset;
  }
  &:focus {
    outline: 0.3rem solid $color-4;
  }

}
.plants {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
  padding: 1rem;
  @media only screen and (max-width:$md-max) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  li {
    margin-bottom: 0.2rem;
    .card {
      background-color: $color-4;
      padding: 1rem 0;
      height: 2.6rem;
      transition: 0.4s;
      border-radius: 0.1rem;
      @media only screen and (max-width:$md-max) {
        h4 {
          font-weight: 500;
        }
        p {
          font-weight: 200;
        }
      }
      &:hover {
        background-color: $color-5;
        color: $color-4;
      }
      h4, p {
        margin: 0;
      }
      h4 {
        letter-spacing: 0.1rem;
      }
      p {
        font-weight: 400;
      }
    }
  }
}